<h3 id="state-text" #state_text>{{ destinationSelectText }}</h3>
<div class="window-shadow">
  <div class="container">
    <div class="title-region">
      <p class="title">{{ coorsText }}</p>
      <p class="title">{{ owner }}</p>
    </div>
    <div class="description-region">
      <div class="key-value-pair">
        <p>Landscape</p>
        <p class="pair-value" [ngStyle]="{'color': landscapeTextColor}">
          {{targetTerritory.landscapeType | uppercase}}
        </p>
      </div>
      <div *ngIf="targetTerritory.goldHr != null" class="key-value-pair">
        <p>Gold/hour</p>
        <p class="pair-value gold-text-color">{{ targetTerritory.goldHr }}</p>
      </div>
      <div class="troop-progress" *ngIf="targetTerritory.owner.isCurrentPlayer">
        <div class="fill" #troop_fill></div>
        <p *ngIf="troopProductionText != null">{{ troopProductionText }}</p>
        <p *ngIf="troopProductionText == null" style="opacity: 0.7">No troop production</p>
      </div>
    </div>
    <div class="troops" *ngIf="stationedTroops != null">
      <div class="stanioned-list" *ngIf="troopCountForm == null && troopsForRelocation == null">
        <p class="section-title" *ngIf="this.stationedTroops.length != 0">Stanioned troops</p>
        <p class="no-troops-text" *ngIf="this.stationedTroops.length == 0">No stationed troops</p>
        <ul class="troop-list">
          <li class="troop-list-entry" *ngFor="let troop of stationedTroops">
            <p class="troop-amount troop-text-color">{{ troop.amount }}</p>
            <p class="troop-title">{{ troop.name }}</p>
          </li>
        </ul>
        <button class="ugly-button" (click)="onSendTroops()" *ngIf="this.stationedTroops.length != 0">
          Relocate troops</button>
      </div>
    
      <div class="amount-selection" *ngIf="troopCountSelection != null">
        <p class="section-title">Select troops</p>
        <form *ngIf="troopCountSelection != null" [formGroup]="troopCountSelection.form" (ngSubmit)="submitTroopCount()">
          <ul class="troop-list" formArrayName="troops">
            <li class="troop-selection-entry" *ngFor="let entry of troopCountSelection.entries; let i = index">
              <p class="troop-title">{{ entry.troopName }} ( {{ entry.control.value }}/{{ entry.max }} )</p>
              <input class="troop-text-color" type="range" max="50000" [max]="entry.max" [formControlName]="i">
              <!-- <p class="troop-amount troop-text-color">{{ stationedTroops[i].amount }}</p> -->
    
            </li>
          </ul>
          <button class="ugly-button" type="submit" [disabled]="!troopCountSelection.form.valid">Select destination</button>
          <button class="ugly-button" type="button" (click)="onCancel()">Cancel</button>
        </form>
      </div>
    
      <div class="destination-selection" *ngIf="troopsForRelocation != null">
        <p class="section-title">Select destination for</p>
        <ul class="troop-list">
          <li class="troop-list-entry" *ngFor="let troop of troopsForRelocation">
            <p class="troop-amount troop-text-color">{{ troop.amount }}</p>
            <p class="troop-title">{{ troop.name }}</p>
          </li>
        </ul>
        <button class="ugly-button" (click)="onCancel()">Cancel</button>
      </div>
    
      <div class="destination-selection" *ngIf="incomingTroops != null">
        <p class="section-title">Incoming troops</p>
        <ul class="troop-list">
          <li class="troop-list-entry" *ngFor="let troop of incomingTroops">
            <p class="troop-amount troop-text-color">{{ troop.amount }}</p>
            <p class="troop-title">{{ troop.name }}</p>
            <p class="troop-time-left">{{ formTimeString(troop.timeLeft) }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


