#state-text {
    position: fixed;
    z-index: 6;
    color: white;
    width: 50%;
    text-align: center;
    top: 8vh;
    font-size: 3vw;
    margin: 0 auto;
    padding: 0;
    left: 0;
    right: 0;
}

:host{ 
    position: fixed;
    width: 24.6rem;
    /* z-index: 5; */
    
    bottom: 1vw;
    right: 1.2rem;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: stretch;

    color: rgb(118, 129, 135);
}
.container {
    border-image: url(src/assets/ui/ui_panel_diamond.svg);
    border-image-slice: 82% 0 16% 0 fill;
    border-image-outset: 0.2rem;
    border-image-width: auto;
    border-image-repeat: stretch;

    padding-bottom: 0.5rem;
}

.troop-progress {
    position: relative;
    margin: 0.3rem 2rem 0rem;
    height: 1.4rem;
    background-color: rgb(55, 69, 77);
    border-radius: 1rem;
    overflow: hidden;
}

.troop-progress p {
    position: absolute;
    left: 0;
    right: 0;
    margin: initial auto;

    text-align: center;
    font-size: 1rem;
    color: white;

}
.troop-progress .fill {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(0, 146, 69);
}
.coors-text {
    /* color: rgb(118, 129, 135); */
    color: white;
    font-size: 2vw;
}

.no-troops-text {
    font-size: 1vw;
    /* margin: 0.2vw 0; */
    /* align-self: center; */
    text-align: center;
    margin: 1vw 0 0.2vw 0;
}

.section-title {
    color: white;
    margin: 0.5rem 0 0.2vw 0;
    text-align: center;
    font-size: 1.2vw;
}

.title-region {
    height: 5rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;

    font-size: 1.5vw;
    padding-bottom: 1vw;
}

.description-region {
    font-size: 1vw;
}

.title {
    color: white;
}

.owner-text {
    color: rgb(188, 43, 35);
}

.key-value-pair {
    padding-left: 1vw;
    /* padding-right: 1vw; */
    display: flex;
    /* text-align: center; */
    justify-content: space-between;


    margin-top: 0.0vw;
    margin-bottom: 0.0vw;
    font-size: 1vw;
}

.troop-list-entry {
    padding-left: 1vw;
    /* padding-right: 1vw; */
    display: flex;
    /* text-align: center; */
    justify-content: flex-start;
    


    margin-top: 0.0vw;
    margin-bottom: 0.0vw;
    font-size: 1vw;
}
.troop-title {
    margin-left: 0.5vw;
    vertical-align: text-top;
}

.troop-amount {
    min-width: 2vw;
    text-align: center;
    
}

.troop-time-left {
    display: flex;
    margin-left: auto;
    margin-right: 2vw;
}
.troops {
    /* margin-bottom: 1vw; */
}

.troop-selection-entry {
    padding-left: 1vw;
    padding-right: 1vw;
    /* padding-right: 1vw; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;


    margin-top: 0.0vw;
    margin-bottom: 0.0vw;
    font-size: 1vw;
}

.troop-selection-entry input[type=range] {
    -webkit-appearance: none;

    min-height: 1.25rem;
    margin:0;

    pointer-events: all;

    background: transparent; 
    border-color: transparent;
    color: transparent;
}


.pair-value {
    width: 8vw;
}

p {
    margin: 0px;
    padding: 0px;
}

.key-value-pair p {
    margin: 0.1vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    pointer-events: all;
    margin: 0.2vw;
    margin-left: 1vw;
}


.ugly-button {
    /* width: auto;
    height: 1.5vw;
    font-size: 1vw;
    border-width: 0.1vw; */
    padding: 0.1rem 0.5rem;
}