:host {
    position: fixed;
    z-index: 5;
    top: 0;
    height: 4rem;
    width: 100%;

    /* font-size: 1.5vw; */
    
}

.background {
    position: absolute;
    height: 136%;
    width: 130%;
    left: -5vw;
    border-image: url(src/assets/ui/header/menu_bg.svg);
    border-image-slice: 0 fill;
    border-image-width: auto;
    border-image-repeat: stretch;
}

ul {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a:hover {
    cursor: pointer;
}
li {
    display: flex;
    color: white;
    flex-grow: 1;
}
a {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
}
.entry {
    /* background-color: rgba(255, 255, 255, 0.103); */
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.2s;
    font-size: 1.5rem;
}

.entry img {
    width: 70%;
    transition: all 0.2s;
}

.entry:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.2s;
}

.entry.selected img {
    transform: translateY(0.4vh);
    transition: all 0.2s;
}

.user {
    width: 22rem;
    flex-grow: 0;
    flex-shrink: 0;
    border-image: url(src/assets/ui/header/menu_overlay.svg);
    border-image-slice: 0 20% 10 50% fill;
    border-image-width: auto;
    border-image-repeat: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user h3{
    padding: 0;
    margin-left: 6rem;
    margin-right: 1rem;
}

small {
    font-size: 0.8vw;
    color: rgb(115, 126, 132);
    position: relative;
    top: -1vmin;
}

.title-entry {
    width: 22rem;
    font-size: 2rem;
    flex-grow: 0;
}

.title-entry a {
    justify-content: space-around;
}

.menu-overlay {
    position: fixed;
    height: 7vh;
    top: 0;
}