<div class="background">

</div>
<ul>
  <li class="user">
    <h3>{{ getUsername() }}</h3>
    <app-header-player-info></app-header-player-info>
  </li>
  <li class="entry" [ngClass]="{'selected' : territoryListOpenned}">
    <a style="color: rgb(5, 176, 72)" (click)="onTerritoriesClick()">
      Territories
      <img src="assets/ui/header/menu_hr.svg">
    </a>
  </li>
  <li class="entry"><a style="color: rgb(49, 98, 174)" (click)="onResearchClick()">
    Research
    <img src="assets/ui/header/menu_hr.svg">
  </a></li>
  <li class="entry"><a style="color: rgb(187, 173, 51)" (click)="onLeaderboardsClick()">
    Leaderboards
    <img src="assets/ui/header/menu_hr.svg">
  </a></li>
  <li class="title-entry"><a>
    Webstra
    <small>Strategy game</small>
  </a></li>
</ul>
