<h3>This is a sign in page!</h3>
<button class="ugly-button" (click)="onSignInJustinianas()">Sign in Justinianas</button>
<button class="ugly-button" (click)="onSignInAngrychild()">Sign in Angrychild</button>