:host {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 144, 80);
}
.ugly-button {
    margin: 1rem;
    font-size: 5rem;
    padding: 1rem 5rem;
}

h3 {
    font-size: 5vw;
    color: white;
}