:host {
    position: absolute;
    background-color: green;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
    top: 0;
    touch-action: none;
}
#map-container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    touch-action: none;
}

#map-container canvas {
    margin: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
}

#zoom-slider {
    position: fixed;

    z-index: 6;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
}