<div *ngIf="gameReady()">
    <app-map></app-map>
    <app-territory-hover-panel class="unselectable" *ngIf="hoveredTerritory != null" [targetTerritory]="hoveredTerritory">
    </app-territory-hover-panel>
    <div class="right-side">
        <app-selected-territory-panel
            class="unselectable"
            *ngIf="selectedTerritory != null"
            [targetTerritory]="selectedTerritory"></app-selected-territory-panel>
    </div>
    <app-territory-list 
        class="unselectable" 
        *ngIf="territoryListOpenned"></app-territory-list>
    <button class="ugly-button home-button unselectable" (click)="onReturnHome()">Return home</button>
    <app-header 
        [territoryListOpenned]="territoryListOpenned"
        (onTerritoryListClick)="territoryListBtnClick()"></app-header>
</div>

<div class="loading" *ngIf="!gameReady()">
    <div class="lds-ripple" style="z-index: '5'">
        <div></div>
        <div></div>
    </div>
</div>


