 :host {
    width: 100%;
    height: 100%;
} 

.right-side {
    margin-top: 6rem;
    position: absolute;
    width: 20vw;
    height: 100%;
    right: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    pointer-events: none;
}
.loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-button {
    position: absolute;
    z-index: 5;
    bottom: 2vw;
    left: 2vw;
    width: 15vw;
    height: 3vw;
    border-width: 0.3vw;
    font-size: 2vw;
}