<div class="window-shadow">
    <div class="wrapper">
        <div class="title">
            <h2>TERRITORIES</h2>
        </div>
        <div class="container">
            <app-territory-list-item *ngFor="let entry of entries" [target]="entry"></app-territory-list-item>
        </div>
    </div>
</div>
