:host { 
    position: fixed;
    width: 20.9rem;
    top: 6.2rem;
    left: 1.2rem;
}

.title h2 {
    color: white;
    font-weight: normal;
    margin: 0;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    margin-left: 0.7rem;
}
.wrapper {
    display: flex;
    max-height: 40rem;
    min-height: 10rem;

    flex-direction: column;
    justify-content: stretch;

    color: rgb(118, 129, 135);
    
    border-image: url(src/assets/ui/territory.svg);
    border-image-slice: 60% 0 20% 0 fill;
    border-image-outset: 0.2rem;
    border-image-width: auto;
    border-image-repeat: stretch;
}

.container {
    overflow: auto;
    margin-right: 0.25rem;
    margin-bottom: 2rem;
    /* margin-left: 1rem; */
}