:host {
    height: 100%;
    width: 100%;
    margin-right: 2rem; 
    font-size: 0.9rem;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0.3vw; */
}

p {
    margin: 0;
    /* font-size: 1.6vmin; */
}

.title {
    color: rgb(102, 102, 102);
}

.hour-text {
    color: rgb(128, 128, 128);
}