<div *ngIf="information == null">

</div>
<div class="info" *ngIf="information != null">
  <div class="column">
    <p class="title">GOLD</p>
    <p class="gold-text-color">{{ information.gold }}</p>
    <p class="hour-text">+{{ information.goldHr }}/h</p>
  </div>
  <div class="column">
    <p class="title">TROOPS</p>
    <p class="troop-text-color">{{ information.totalTroops }}</p>
    <p class="hour-text">+{{ information.totalTroopsHr }}/h</p>
  </div>
</div>