:host {
    display: flex;

    margin: 1.1rem 0.7rem 1.1rem 0.5rem;
    color: white;
}
:host:last-child {
    margin-bottom: 0rem;
}
:host:first-child {
    margin-top: 0rem;
}
:host:hover {
    outline: 0.2rem solid rgb(54, 111, 138);
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: green; */
    
}
.top {
    height: 2rem;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
}

.bot {
    height: 1.8rem;

    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
    
}
hr {
    border: none;
    margin: 0;
    height: 0.2rem;
    background-color: black;
}
.wrapper p {
    /* background-color: green; */
    margin: 0;
}
a {
    font-weight: 600;
    font-size: 0.6rem;
    background-color: rgb(55, 60, 90);
    padding: 0.3rem 0;
    width: 6rem;
    text-align: center;
    color: rgb(90, 136, 180);
    transition: all 0.1s ease-in-out;
}
a:hover {
    background-color: rgb(76, 85, 138);
    transition: all 0.1s;
}
.coors-text {
    font-size: 0.6rem;
    color: rgb(200, 200, 200);
}
.landscape-text {
    font-size: 0.8rem;
    width: 6rem;
    text-align: center;
}