<div class="window-shadow-xs wrapper">
  <div class="top" [ngStyle]="{ 'background-color': industryColors[target.industryType] }">
    <!-- <p>{{ target.coorsText }}</p> -->
    
    <p>{{ target.industryType | uppercase }}&nbsp;{{ target.industryLevel }}</p>
    <a (click)="onUpgrade($event)">UPGRADE</a>
  </div>
  <hr [ngStyle]="{'background-color': hrColors[target.landscapeType] }">
  <div class="bot" [ngStyle]="{'background-color': landscapeColors[target.landscapeType] }">
    <p class="coors-text">{{ target.coorsText }}</p>
    <p class="landscape-text" [ngStyle]="{'color': hrColors[target.landscapeType] }">{{target.landscapeType | uppercase}}</p>
  </div>
  
</div>
