:host {
    position: fixed;
    z-index: 5;

    left: 50%;
    transform: translate(-50%);
    top: 4rem;
    margin: 0;
    padding: 0;
}
.coors-text {
    /* color: rgb(118, 129, 135); */
    color: white;
    font-size: 2rem;
}
/* :host{ 
    position: absolute;
    width: 100%;
    z-index: 5;
    
    bottom: 3.5vw;
    
    background-color: rgb(29, 40, 46);
    

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    
    color: rgb(118, 129, 135);

    border: 0.2vw solid rgb(55, 99, 110);
    
    box-sizing: border-box;
} */
.title-region {
    /* height: 3vw; */
    border-bottom: 0.1vw solid rgb(55, 99, 110);
    background-color: rgb(36, 53, 61);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;

    font-size: 1.5vw;
}

.description-region {
    font-size: 1vw;
}

.title {
    color: white;
}

.owner-text {
    color: rgb(188, 43, 35);
}

.key-value-pair {
    padding-left: 1vw;
    /* padding-right: 1vw; */
    display: flex;
    /* text-align: center; */
    justify-content: space-between;


    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.pair-value {
    width: 8vw;
}

p {
    margin: 0px;
    padding: 0px;
}

.key-value-pair p {
    margin: 0.1vw;
}


