<p class="coors-text">{{ formattedIndex() }}</p>
<!-- <div class="title-region">
  <p class="title">Webstra</p>
  
</div>
<div class="description-region">
  <div class="key-value-pair">
    <p>Type</p>
    <p class="pair-value" [ngStyle]="{'color': getLandscapeColor()}">
      {{targetTerritory.landscapeType | uppercase}}
    </p>
  </div>
  <div class="key-value-pair">
    <p>Owned by</p>
    <p class="pair-value owner-text">{{ getOwner() | uppercase}}</p>
  </div>
</div> -->