:host {
    position: fixed;
    top: 5.8rem;
    right: 1rem;
    width: 25rem;
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    pointer-events: none;
    
}