:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* height: 2rem; */
}
hr {
    height: 0.25rem;
    margin: 0;
    padding: 0;
    background-color: white;
    border: none;
}
.body {
    padding: 0;
    margin: 0.2rem 0 0 0;
}
.header p {
    padding: 0;
    margin: 0;
    line-height: 2rem;
    font-size: 1.4rem;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    white-space: nowrap;
    overflow: hidden;
}
.body p {
    font-size: 1rem;
    line-height: 1rem;
    padding: 0;
    margin: 0;
}