:host {
    height: 0rem;
    width: 100%;
    color: white;

    cursor: pointer;

    background-color: black;

    margin: 0;

    transform: translateX(100%) scaleY(0);
    opacity: 0;
    
    transition: all 0.5s;
    pointer-events: all;
}
:host.in {
    opacity: 1;
    height: 5rem;
    margin: 0.2rem 0;
    transform: translateX(0) scaleY(1);
    transition: all 0.5s;
}
:host.out {
    opacity: 0;
    height: 0rem;
    margin: 0;
    transform: translateX(100%) scaleY(0);
    transition: all 0.5s;
}
.container {
    margin: 0 1rem;
    padding: 0;
    height: 100%;
    /* width: 100%; */
}