<div class="container">
  <app-system-alert-content
    *ngIf="isSystem()"
    [model]="model.alert"></app-system-alert-content>
  <app-attack-alert-content 
    *ngIf="isAttack()" 
    [model]="model.alert"></app-attack-alert-content>
  <app-upgrade-alert-content 
    *ngIf="isUpgrade()" 
    [model]="model.alert"></app-upgrade-alert-content>
</div>
