body {
    background-color: black;
    margin: 0;
    overflow: hidden;
    /* padding: 0; */
    
}
html {
  font-size: 8px;
  font-family: "Source Sans Pro", "Times New Roman";
}
button {
  font-family: "Source Sans Pro", "Times New Roman";
}
@media (min-width: 900px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 1300px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 1500px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1900px) {
  html {
    font-size: 16px;
  }
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.1rem;
}
.ugly-button {
    border: none;
    background-color: rgb(0, 113, 188);

    align-self: center;
    margin-left: auto;
    margin-right: auto;

    color: white;
}
.ugly-button:hover {
    background-color: rgb(11, 129, 207);
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 20vmin;
  height: 20vmin;
}
.lds-ripple div {
  position: absolute;
  border: 1vmin solid red;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 10vmin;
    left: 10vmin;
    width: 0;
    height: 0;
    opacity: 1;
    border-color: red;
  }
  100% {
    top: 0;
    left: 0;
    width: 20vmin;
    height: 20vmin;
    opacity: 0;
    border-color: white;
  }
}

.gold-text-color {
  color: rgb(251, 176, 59);
}

.troop-text-color {
  color: rgb(0, 146, 69);
}

.window-shadow {
  box-shadow: 0rem 0rem 0.6rem black;
}
.window-shadow-sm {
  box-shadow: 0rem 0rem 0.2rem black;
}
.window-shadow-xs {
  box-shadow: 0rem 0rem 0.1rem rgba(0, 0, 0, 0.5);
}
/*SCROLL BAR */
::-webkit-scrollbar {
  width: 0.5rem;
  margin-left: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  width: 0.5rem;
  margin-left: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(54, 111, 138); 
  border-radius: 100rem;
}

input[type=range] {
    -webkit-appearance: none;

    margin:0;
    pointer-events: all;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background-color: #35677e;
    height: 1.25rem;
    width: 0.5rem;
    border-radius: 0.2rem;
    margin-top: -0.5rem;
    border:none;
}

input[type=range]::-moz-range-thumb {
    cursor: pointer;
    cursor: pointer;
    background-color: #35677e;
    height: 1.25rem;
    width: 0.5rem;
    border-radius: 0.2rem;
    margin-top: -0.5rem;
    border:none;
}

input[type=range]::-ms-thumb {
    cursor: pointer;
    cursor: pointer;
    background-color: #35677e;
    height: 1.25rem;
    width: 0.5rem;
    border-radius: 0.2rem;
    margin-top: -0.5rem;
    border:none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.25rem;
  cursor: pointer;
  background: #2C373D;
  border-radius: 0.125rem;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(55, 69, 77);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.25rem;
  cursor: pointer;
  background: #2C373D;
  border-radius: 0.125rem;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 0.25rem;
  cursor: pointer;
  background: #2C373D;
  border-radius: 0.125rem;
}
input[type=range]::-ms-fill-lower {
  background: #2C373D;
  /* border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
}
input[type=range]::-ms-fill-upper {
  background: #2C373D;
  /* border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
}
input[type=range]:focus::-ms-fill-upper {
  background: #2C373D;
}
