:host {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
hr {
    height: 0.25rem;
    margin: 0;
    padding: 0;
    background-color: rgb(195, 70, 74);
    border: none;
}
.player-text {
    color: rgb(195, 70, 74);;
}
.coors-text {
    color: rgb(112, 120, 126);
}
.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:  0;
    margin: 0 0 0.3rem 0;
}
.header p {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
}
.body p {
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 0;
    margin: 0;
}