:host {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ugly-button {
    font-size: 5rem;
    margin: 1rem;
    padding: 0.4rem 5rem;
}
h1 {
    font-size: 5rem;
    margin: 1rem;
    color: white;
}